<footer id="footer">
  <% if (theme.sidebar === 'bottom'){ %>
    <%- partial('_partial/sidebar') %>
  <% } %>

  <div class="container">
      	<div class="row">
	      <p> Galloping in Art </p>
	      <p id="copyRightEn">版权所有 © 弓箭工作室</p>
  </div>
</footer>


<!-- min height -->

