<div class="modal fade" id="wechatModal" tabindex="-1" role="wechat" aria-labelledby="wechatModalLabel" aria-hidden="true" style="display: none;">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="myModalLabel">微信号: wojiaogongjian</h4>
      </div>
      <div class="modal-body">

<div>
<img src = /css/images/Wechat.jpg width="300px">
</div>

         <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
          <div class="panel-body">
            <%= config.title %>
          </div>
          <div class="panel-body">
            Copyright © <%= date(new Date(), 'YYYY') %> <%= config.author || config.title %> All Rights Reserved.
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
      </div>
    </div>
  </div>
</div>
